# ============== Java/Maven ==============
target/
*.class
*.jar
*.war
*.log

# ============== IDE ==============
.idea/
*.iml
*.iws
.ipr
out/

# ============== Maven ==============
.mvn/
mvnw
mvnw.cmd

# ============== Logs ==============
logs/
